node_modules/
.env
storage/uploads/*
!storage/uploads/.gitkeep
storage/logs/*
!storage/logs/.gitkeep
.DS_Store
.nodemonignore
npm-debug.log*
yarn-debug.log*
yarn-error.log*
agent_docs
.sequelizerc
.env-example
migrations/
backups/
start.bat
