  <!-- SimpleWebAuthn Browser Bundle for Biometrics -->
  <script src="https://unpkg.com/@simplewebauthn/browser/dist/bundle/index.umd.min.js"></script>
  <script src="/js/ui.js"></script>
  <script src="/js/api.js"></script>
  
  <script>
    // Register PWA Service Worker
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js')
          .then(reg => console.log('Service Worker registrado:', reg.scope))
          .catch(err => console.error('Error al registrar Service Worker:', err));
      });
    }
  </script>
</body>
</html>
